<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="../Plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="../Plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet" />
</head>
<body class="bg-dark" ng-app="legendaryStudentApp">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form ng-controller="LoginController">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input class="form-control" ng-model="email" type="email" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input class="form-control" ng-model="pwd" type="{{inputType}}" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
                                <small for="checkbox" ng-if="passwordCheckbox">Hide password</small>
                                <small for="checkbox" ng-if="!passwordCheckbox">Show password</small>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-click="remember()"> Remember Password
                            </label>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-block" href="index.html">Login</a>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="register.html">Register an Account</a>
                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                </div>
            </div>
            <div>
                <div class="text-center">
                    <a class="d-block small" href="register.html">Login with Google</a>
                    <a class="d-block small" href="forgot-password.html">Login with Facebook</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../Scripts/jquery-3.2.1.js"></script>
    <script src="../Plugins/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../Scripts/jquery.easing.1.3.js"></script>
    <script src="../Scripts/angular.js"></script>
    <!--<script src="../Scripts/angular-animate.js"></script>
    <script src="../Scripts/angular-aria.js"></script>
    <script src="../Scripts/angular-cookies.js"></script>
    <script src="../Scripts/angular-resource.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/angular-sanitize.js"></script>
    <script src="../Scripts/angular-touch.js"></script>-->
    <script src="../app/app.js"></script>
    <script src="../app/controllers/LoginController.js"></script>
</body>
</html>
